<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Minha Saúde
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row offset-md-3>
      <ion-col col-md-8>

        <ion-card>
          <ion-card-header>
            <h2 text-justify>Histórico Consultas</h2>
          </ion-card-header>
          <ion-card-content>

            <div padding>
              <ion-segment [(ngModel)]="parentSegment">
                <ion-segment-button value="lista">
                  Lista
                </ion-segment-button>
                <ion-segment-button value="adicionar">
                  Adicionar
                </ion-segment-button>
              </ion-segment>
            </div>

            <div [ngSwitch]="parentSegment">
              <ion-list *ngSwitchCase="'lista'">

                <ion-item *ngFor="let c of consultas; let i = index; ">

                  <button color="default" item-end ion-button (click)="detalhesConsulta(c)">
                    <ion-icon name="ios-play-outline"></ion-icon>
                  </button>
                  <p>Data: {{ c.data }}</p>
                  <p>Médico: {{c.medico}}</p>
                </ion-item>

              </ion-list>

              <ion-list *ngSwitchCase="'adicionar'">
                <form [formGroup]="consultasForm" (ngSubmit)="addConsulta()" id="consultasForm">
                  <ion-grid>
                    <ion-row>
                      <ion-col col-md-6 col-12>
                        <ion-list>

                          <ion-item>
                            <ion-label floating>Data</ion-label>
                            <ion-datetime formControlName="data" displayFormat="DD/MM/YYYY" pickerFormat="MMM DD YYYY" monthShortNames='Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro'
                              doneText="Ok" cancelText="Cancelar"></ion-datetime>
                          </ion-item>

                          <ion-item>
                            <ion-label floating>Medico</ion-label>
                            <ion-input type="text" formControlName="medico"></ion-input>
                          </ion-item>

                          <ion-item>
                            <ion-label floating>Local</ion-label>
                            <ion-input type="text" formControlName="local"></ion-input>
                          </ion-item>

                          <ion-item>
                            <ion-label floating>Anamnese</ion-label>
                            <ion-input type="text" formControlName="anamnese"></ion-input>
                          </ion-item>

                          <ion-item>
                            <ion-label floating>Sintomas</ion-label>
                            <ion-input type="text" formControlName="sintomas"></ion-input>
                          </ion-item>

                        </ion-list>
                      </ion-col>

                      <ion-col col-md-6 col-12>
                        <ion-list>

                          <ion-card>
                            <ion-card-header text-center>
                              Exames
                            </ion-card-header>
                            <ion-card-content>

                              <ion-list>
                                <ion-item *ngFor="let e of exames;">
                                  <button color="default" item-end ion-button (click)="detalhesExame(e)">
                                    <ion-icon name="ios-play-outline"></ion-icon>
                                  </button>
                                  <p>Data: {{ e.data }}</p>
                                  <p>Clínica: {{ e.clinica }}</p>
                                  <p>Tipo: {{e.tipo}}</p>
                                </ion-item>
                              </ion-list>
                            </ion-card-content>
                          </ion-card>

                        </ion-list>
                      </ion-col>
                    </ion-row>
                  </ion-grid>

                </form>

                <ion-grid>
                  <ion-row>
                    <ion-col col-md-3>
                    </ion-col>
                    <ion-col col-md-3>
                    </ion-col>
                    <ion-col col-md-3>
                    </ion-col>
                    <ion-col col-md-3 col-12>
                      <button ion-button full color="default" round (click)="addExame()">Add exame</button>
                    </ion-col>
                  </ion-row>
                </ion-grid>

              </ion-list>
            </div>

          </ion-card-content>
        </ion-card>

        <ion-grid>
          <ion-row>
            <ion-col col-md-3>
            </ion-col>
            <ion-col col-md-3>
            </ion-col>
            <ion-col col-md-3>
            </ion-col>
            <ion-col col-md-3 col-12>
              <button ion-button full color="success" round type="submit" [hidden]="hideButton()" [disabled]="!consultasForm.valid" form="consultasForm">Salvar</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>