page-home {

    #custom-overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;  
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        background-color: #E6E6E6;
      }
      
      #custom-overlay img {
        display: block;
        margin: 0 auto;
        width: 50%;
        height: auto;
    }
      
      
    #main {
        height: 100%;
        min-height: 400px;
    }
    #main {
        position: relative;
        width: 100%;
        min-height: auto;
        text-align: center;
        color: #fff;
        background-image: url('../assets/images/main.png');
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    #main .header{
        text-shadow: 2px 4px 3px rgba(0, 0,0,0.2);
    }
}