<ion-menu [content]="content" class="menu-principal">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-list [hidden]="!isAuthenticated">
      <button ion-item (click)="clickFichaMedica()">
        <img name="fichaMedica" src="./assets/icon/menu/ficha-medica.png" float-left class="app-icons">
        <span float-left>Ficha Médica</span>
      </button>
      <button menuClose class="sub-menu" ion-item *ngFor="let f of fichaMedica" (click)="openPageMenu(f)" [hidden]="!fichaMedicaClick">
        <img name="{{f.titulo}}" src="{{f.image}}" float-left>
        <span float-left>{{f.title}}</span>
      </button>
    </ion-list>

    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPageMenu(p)">
        <img name="{{p.titulo}}" src="{{p.image}}" float-left class="app-icons">
        <span float-left>{{p.title}}</span>
      </button>
    </ion-list>

  </ion-content>
  <ion-footer class="bar-stable" [hidden]="!isAuthenticated">
    <button menuClose ion-item (click)="deslogar()">
      <img name="deslogar" src="./assets/icon/menu/deslogar.png" float-left class="app-icons">
      <span float-left>Deslogar</span>
    </button>
  </ion-footer>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage" swipeBackEnabled="false"></ion-nav>
